$primary-color: #141414;
$light-primary-color: #221f1f;
$dark-primary-color: #000;
$text-icons: #fff;
$primary-text: #fff;
$secondary-text: #e50914;
$divider: #bdbdbd;
$font-familiy-primary: 'Roboto', sans-serif;
$font-familiy-secondary: 'Oswald', sans-serif;
$font-familiy-tertiary: 'Kalam', cursive;

body {
  color: $primary-text;
  font-family: $font-familiy-primary;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
label {
  font-family: $font-familiy-secondary;
  color: $primary-text;
}

/*Form Controls*/

.form-control {
  color: $light-primary-color;
}

.input {
  color: $light-primary-color;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: $divider;
  opacity: 0.5;
}

/*Buttons*/

.btn-outline-light {
  color: $primary-text;
  border-color: $primary-text;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn-link {
  font-weight: 400;
  color: $secondary-text;
}

.btn-link:active {
  color: $primary-text;
}
.btn-link:hover {
  color: $divider;
}

/*Navbar*/

.navbar-brand {
  color: $secondary-text !important;
}

.navbar-text,
a {
  color: $primary-text !important;
}
