@import '../../index.scss';
.movie_detail {
  margin-top: 1rem;
  background-color: $dark-primary-color;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.movie_image {
  padding: 10px;
  margin: 10px;
}

.movie_description {
  padding: 10px;
  margin: 10px;
}

.button {
  padding: 5px;
}
